.cart {
    .item {
        padding-left: 20px;
        padding-right: 20px;
        column-gap: 30px;
        .image-cart {
            width: 150px;
            height: 150px;
            object-fit: contain;
            @media screen and (max-width: 767px) {
                width: 90px;
                height: 90px;
            }
        }
        .gap-x-2 {
            column-gap: 8px;
        }
    }
}

.swal2-container {
    .swal2-popup {
        width: 400px;
        border-radius: 20px;
        .swal2-title {
            padding: 3px 0;
            font-size: 23px;
            font-family: Poppins SemiBold;
        }
        .swal2-html-container {
            font-size: 16px;
            font-family: Poppins Regular;
            margin: 4px 0;
        }
        .swal2-actions {
            margin: 3px 0;
            button {
                padding: 7px 20px;
                font-family: Poppins Regular;
                font-size: 14px;
                box-shadow: none;
                &.swal2-cancel {
                    background-color: #ff6d6d;
                }
            }
        }
        .swal2-loader {
            width: 26px;
            height: 26px;
        }
    }
}
