header {
    transition: all 0.9s ease;
    z-index: 50;
    &.active {
        position: fixed;
        top: 0;
        background-color: white;
        height: 81px;
        box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
        .logo {
            height: 50px;
            width: 50px;
            border-radius: 5px;
            padding: 4px;
        }
    }
}
