@font-face {
    font-family: Metropolis Regular;
    src: url("/public/wordpress/assets/font/Metropolis-Regular.otf")
        format("opentype");
}
@font-face {
    font-family: Metropolis RegularItalic;
    src: url("/public/wordpress/assets/font/Metropolis-RegularItalic.otf")
        format("opentype");
}

@font-face {
    font-family: Metropolis Bold;
    src: url("/public/wordpress/assets/font/Metropolis-Bold.otf")
        format("opentype");
}
@font-face {
    font-family: Metropolis BoldItalic;
    src: url("/public/wordpress/assets/font/Metropolis-BoldItalic.otf")
        format("opentype");
}
